extends layout

block scripts

    script(src='/javascripts/jquery-2.1.3.min.js')
    script(src='/javascripts/leaflet.js')
    script(src='/javascripts/uikit.min.js')
    script(src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0")
    script(src="/javascripts/client.js")

block map

    //a(class="uk-navbar-brand locality") #{title}
    //div(class="uk-panel")
    //    h3(class="uk-panel-title") #{title}

    div(class="uk-container")
        table(class="uk-table uk-table-striped" id="GVtable")
            tr
                each val in ["Locality", "Residential Sites / Converted/BBMP", "Apartments in BDA/HSBC/CITB/"]
                    th= val

    div(class="uk-container"): #map(style='height: 400px;' )
    

    script.

        var point = [#{basePoint}]
        var objectLayer = !{featureObject}
        var guidanceValues =!{guidanceObject}

        var map = L.map("map").setView(point, 13)
        var layer = new L.StamenTileLayer("toner-lite")
        map.addLayer(layer)

        var popup = L.popup()
            .setLatLng(L.latLng(objectLayer[0].geometry.coordinates[0]) ) //add popup with guidance values
            .setContent(/*JSON.stringify(guidanceValues)*/ 'hello');
            //.openOn(map);
        

        window.onload = function() {
            parseResponse(objectLayer);
            drawTable(guidanceValues);
        }

        function drawTable(data) {
            drawRow(data[0])
            //for (var i = 0; i < data.length; i++) {
            //drawRow(arr[0]);
             //   }
        }

        function drawRow(rowData) {
            var row = $("<tr />")
            $("#GVtable").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
            row.append($("<td>" + rowData["VILLAGE/AREA/ROAD"] + "</td>"));
            row.append($("<td>" + rowData["Residential Sites Coming under Converted/BBMP - Rs. per Sq. Meter"] + "</td>"));
            row.append($("<td>" + rowData["Apartment/Flats Constructed in BDA/HSBC/CITB/ Approved by City Development Authority Sites: Marble/Granite/Wooden - Super Buildup Area  - Rs. per Sq. Meter"]+ "</td>"));
        }


